body {
    background-color:#ffffff;
    font-family: "Arial", Helvetica, sans-serif;
    font-size:16px;
}

.tilt {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.tilt:hover {
  -webkit-transform: rotate(2.8deg);
     -moz-transform: rotate(2.8deg);
       -o-transform: rotate(2.8deg);
      -ms-transform: rotate(2.8deg);
          transform: rotate(2.8deg);
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

h1 {
    color: #EED54F;
    font-family: Arial, Helvetica, sans-serif;
    font-size:10px;
    padding:0px;
    text-align:center;
    margin-top: auto;
    margin-left: auto;
}

h2 {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size:25px;
    padding:1px;
    margin-top: 0px;
    margin-left: -3px;
    margin-bottom: -3px;
}

h3 {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    padding:3px;
    margin-top: 0px;
    margin-left: -3px;
}

h4 {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    padding:0px;
    margin-top: -20px;
    margin-left: 0px;
    margin-bottom: -10px;
}

h5 {
    color: #000000;
    font-family: "Arial", Helvetica, sans-serif;
    font-size:10px;
    text-align:center;
    margin-bottom: -30px;
}

h6 {
    color: #000000;
    font-family: "Arial", Helvetica, sans-serif;
    font-size:10px;
    text-align:right;
    margin-bottom: -30px;
}

#videobox {
    display: block;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}

a {
    
    text-decoration:underline;
    color: #000000;
}

a:hover {

   color: #EED54F; 
}
.button {
    width:100px;
    height:12px;
    padding:4.6px;
    margin:1px;
    margin-bottom:0px;
    background-color:#ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    font-weight: bold;
    text-align:center;
    color:#000000;
    text-transform:none;
    -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
    display:inline-block;
    border-style:dotted;
    border-width: 1px;
    border-color: #E0E0E0;
}

.button:hover {
    background-color:#EED54F;
    color:#ffffff;
}

article {
    max-width:700px;
    height:900px;
    padding:30px;
    padding-top: 20px;
    border:0;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    background-color: #ffffff;
    
.nav3 {
    background-color: #E9E8C7;
    height: auto;
    width: 150px;
    float: left;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;
    padding-top: 20px;
    padding-right: 20px;
}