body {
    background-color:#ffffff;
    font-family: "Arial", Helvetica, sans-serif;
    font-size:16px;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

h1 {
    color: #EED54F;
    font-family: Arial, Helvetica, sans-serif;
    font-size:10px;
    padding:0px;
    text-align:center;
    margin-top: auto;
    margin-left: auto;
}

h3 {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    padding:3px;
    margin-top: 0px;
    margin-left: 0px;
}

h4 {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    padding:3px;
    margin-top: -20px;
    margin-left: 0px;
    margin-bottom: -10px;
}

h5 {
    color: #000000;
    font-family: "Arial", Helvetica, sans-serif;
    font-size:10px;
    text-align:center;
    margin-bottom: -30px;
}

h6 {
    color: #000000;
    font-family: "Arial", Helvetica, sans-serif;
    font-size:10px;
    text-align:right;
    margin-bottom: -30px;
}

a {
    
    text-decoration:underline;
    color: #000000;
}

a:hover {

   color: #E6B298; 
}
.button {
    width:122px;
    height:12px;
    padding:5.3px;
    margin:1px;
    margin-bottom:0px;
    background-color:#ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    font-weight: bold;
    text-align:center;
    color:#000000;
    text-transform:none;
    -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
    display:inline-block;
    border-style:dotted;
    border-width: 1px;
    border-color: #E0E0E0;
}

.button:hover {
    background-color:#EED54F;
    color:#ffffff;
}

/*My intention is to implement a code that keeps the navigation button of the current page you're on highlighted, however I am having difficulty figuring out how to actually do that, online tutorials only further confused me.*/

article {
    max-width:700px;
    height:900;
    padding:30px;
    padding-top: 20px;
    border:0;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    background-color: #ffffff;
    
.nav3 {
    background-color: #E9E8C7;
    height: auto;
    width: 150px;
    float: left;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;
    padding-top: 20px;
    padding-right: 20px;
}